<!doctype html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta en UpTask

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login.signup(method="POST" action="/crear-cuenta")
                .campo
                    label(for="email") E-mail:
                    input#email(type="text" name="email" placeholder="" value= email )
                .campo
                    label(for="password") Contraseña:
                    input#password(type="password" name="password" placeholder="" value= password )
                .campo
                    label(for="confirm-password") Confirmar contraseña:
                    input#confirm-password(type="password" name="confirm-password" placeholder="" value= password )
                .campo.enviar
                    input.boton(type="submit" value="Crear Cuenta")
                .campo
                    a(href="/iniciar-sesion") Volver a Iniciar Sesión

    script(src="/dist/bundle.js") 