extends layout

include mixins/crearProyecto

block content
    .contenido-principal
        h1 #{nombrePagina}

        +crearProyecto(proyecto)

        br
        if(errores) 
            each error in errores
                .alerta= error.texto