<!doctype html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body 
        h2 Reestablecer contraseña
        p Hola, haz solicitado reestablecer tu password, haz click en el siguiente enlace
        |para reestablecerlo
        a(href=`${resetUrl}`) Reestablecer contraseña
        p De lo contrario puedes acceder al siguiente enlace: #{resetUrl}
        p Si no solicitaste este email, puedes ignorarlo.

